body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* default tags */
ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 0;
}

/*header*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom:1px solid #eaeaea;
  color: white;
  min-height: 60px;
  padding: 0 80px;
}

header a, footer a {
  color: #83868a;
  text-decoration: none;
  margin: 0 10px;
} 

header a:hover, footer a:hover {
  text-decoration: underline;
}

header .header__logo {
  color: black;
  font-weight: 600;
  font-size: 18px;
}

/*footer*/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  color: white;
  gap: 20px;
  font-size: 14px;
  min-height: 40px;
}


/* post navigation */
.post__navigation {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
  padding: 2rem 1rem;
  box-sizing: border-box;
  margin: 0 auto;
  color: gray;
  max-width: 680px;
  border-bottom: 1px solid #eaeaea;
}

.post__navigation-active {
  color:#282c34;
  font-weight: bolder;
}

/*post list*/
.post__list, .post__detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
  min-height: calc(100vh - 164px);
  text-align: left;
  line-height: 24px;
  max-width: 680px;
}

.post__box {
  padding-top: 24px;
}

.post__list a {
  color: #5a5a5a;
  text-decoration: none;
  transition: color 0.15s ease, transform 0.15s ease;
}

.post__profile-box {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}
.post__profile{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #eeeeee;
}

.post__date {
  color: #83868a;
  font-size: 14px;
}

.post__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

.post__utils-box{
  display: flex;
  gap: 20px;
  margin-top: 10px;
  flex-direction: row-reverse;
}

.post__detail .post__title {
  font-size: 36px;
  line-height: 40px;
}

.post__detail .post__utils-box {
  padding-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
}

.post__detail .post__profile-box {
  padding-top: 20px;
}

.post__detail .post__text {
  padding: 20px 0;
}

.content__box {
  min-height: calc(100vh - 101px);
}

/* profile */
.profile__box {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  line-height: 24px;
  font-size: 18px;
  max-width: 680px;

}

.flex__box-lg {
  display: flex;
  gap: 20px;
  align-items: center;
}

.profile__image {
  width: 72px;
  height: 72px;
  background-color: #efefef;
  border-radius: 50%;
}

.profile__name{
  font-size: 1rem;
  padding-top: 4px;
}

.profile__email {
  font-weight: 500;
}

.profile__logout {
  color: gray;
  font-size: 14px;
}


/* carousel */

.carousel{
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  margin-top:20px;
  max-width: 680px;
}

.carousel__slides{
  height: 100%;
}

.carousel__slide-container {
  opacity: 0;
  transition: all 0.5s ease;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.carousel__slide-container.active {
  opacity: 1;
}

.carousel__slide-container img {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.carousel__controls{
  position: absolute;
  bottom: 10px;
  display: flex;
  transform: translateX(-50%);
  left: 50%;
}

.carousel__control-button{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff85;
  display: block;
  border:none;
  margin: 0 5px;
  padding: none;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.carousel__control-button.active {
  background-color: #ffffff;
}